@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  height: 80px;
  line-height: 80px;  
  width: 80px;  
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.btn-black {
  height: 80px;
  line-height: 80px;  
  width: 80px;  
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: black;
}

.icon-black {
  color: black;
}

.video-mask{
  /* padding: 20px; */
  height:auto;
  position:absolute;
  width: 50%;
  display: flex;
  justify-content: center;  
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  overflow: hidden;
  background-color: gray;
}
.video-mask-box{
  /* padding: 20px; */
  border-radius: 8px; 
  overflow: hidden; 
}

.imageContainer {
  padding: 0px;
  height: 75%;
  width: auto;
  display: flex;
  justify-content: center;  
  align-items: center;
  
  
  & > span {
      position: unset !important;
      height: 100%;
  }

  .image {
      object-fit: contain;
      width: auto !important;
      position: relative !important;
      height: auto !important;
      border-radius: 10px;
  }
}

.artImageContainer {
  padding: 0px;
  height:auto;
  position:absolute;
  width: 50%;
  padding-left: 30px;
  display: flex;
  justify-content: center;  
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  
  & > span {
      position: unset !important;
      height: 100%;
  }

  .artImage {
      object-fit: contain;
      width: auto !important;
      position: relative !important;
      height: 100% !important;
      border-radius: 10px;
  }
}

.nhsImageContainer {
  padding: 0px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
  
  
  & > span {
      position: unset !important;
      height: 100%;
  }

  .nhsImage {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: auto !important;
      border-radius: 10px;
  }
}

hr.thin {
  height: 2px;
  border: 0;
  width: 80%;
  margin-left:10% !important;
  }

@layer utilities {
  .focus-ring-small {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-black;
  }
  .focus-ring {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-black;
  }
}

/* @layer base {
  :root {
   @apply duration-600;
  }
 } */

